@import "bootstrap.min.css";
@import "blog-section.css";

body {
  font-size: 20px;
  color: #333333;
  font-family: 'Lora', 'Times New Roman', serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Gloria Hallelujah', cursive;
}



.navbar-default{

}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;


}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .caption h3{
    margin: 10px 10px 10px 10px;
    text-align: center;
  }

  .thumbnail img{
    width: 100%;
    height: 200px;
  }

.jumbotron .img{
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:1;
}

.jumbotron {
  position:relative;
  padding:50px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;

}
.jumbotron .container {z-index:2;
   position:relative;
    z-index:2;
  }

.centered {
  position:fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}
