<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <style>
    .jumbotron .img{
      background-image: url("{% static 'media/images/jumbotron_back.png' %}");
    }


    </style>
    {% block  style%}

    {% endblock %}

    {% block scripts %}

    {% endblock %}



  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand active" href="{% url 'landing' %}">Tsiro</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% block nav_home%}{% endblock %}><a href="{% url 'home' %}">Home</a></li>
            <li {% block nav_about%}{% endblock %}><a href="{% url 'about' %}">About</a></li>
            <li {% block nav_recipes%}{% endblock %}><a href="{% url 'recipes' %}">Recipes</a></li>
            <li {% block nav_blog%}{% endblock %}><a href="{% url 'blog' %}">Blog</a></li>
            <li {% block nav_contact%}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {%if user.is_authenticated%}
            <li {% block nav_newRecipe%}{% endblock %}><a href="{% url 'post_new' %}">New Recipe</a></li>
            <li {% block nav_newBlog%}{% endblock %}><a href="{% url 'post_new_blog' %}">New Blog Post</a></li>
            {%endif%}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="img"></div>
      {% block video %}

      {% endblock %}

      <div class="container">
        <!--<div class="centered">
          <h1>{{title}} </h1>
          <p>{{year}}</p>
        </div>-->
        {%block jumbotext%}

        {%endblock%}


      </div>
    </div>
    <div class="container body-content">
      {% block content %}{% endblock %}

      <hr/>
      <footer class="pull-right">


        <p>&copy; {{ year }} - All rights reserved  <a href='#' class="fa fa-facebook"></a>   <a href="#" class="fa fa-twitter"></a> </p>


      </footer>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script id="dsq-count-scr" src="//tsiro.disqus.com/count.js" async></script>
  </body>
</html>
