{% extends "app/base.html" %}

{% load staticfiles %}

{% block scripts %}
  <!--<script src="{% static 'js/blog.js' %}"></script>-->
  <!--<link href="{% static 'css/blog.css' %}" rel="stylesheet">-->
  


{% endblock %}



{% block nav_blog %}
  class="active"
{%endblock%}

{%block jumbotext%}
  <div style="font-style:italic;padding-top:10%;padding-right:10%;padding-left:10%;text-align:center;">
    <h1>Some thoughts about food or not!</h1>
  </div>
{%endblock%}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2017</p>
          </div>
          <hr>


    {% for blog in  blogs%}
    <div class="post-preview">
      <a href="{% url 'blog_info' blog.id %}">
        <h2 class="post-title">
          {{blog.blog_title}}
        </h2>
        <h3 class="post-subtitle">
          {{blog.blog_descr}}
        </h3>
      </a>
      <p class="post-meta">Posted by
        {{blog.blog_author}}
        on {{blog.blog_date}}</p>
    </div>
    <hr>
    {% endfor %}


{% endblock %}
