{% extends "app/base.html" %}



{% block content %}
{%if user.is_authenticated%}
<a href = "{% url 'edit_existed' id %}" class = "btn btn-primary" role = "button">
  Edit Recipe
</a>
{%endif%}
<img class="img-responsive img-circle" src = "{{image}}" alt = "{{recipe.recipe_name}} thumbnail"/>


<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p style="text-align:center">
      {{desc|safe}}

    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
Try it Yourself »

{% endblock %}
