{% extends "app/base.html" %}

{% block style %}
{% load staticfiles %}


{% endblock %}

{% block nav_recipes %}
  class="active"
{%endblock%}

{% block  jumbotext%}

  <h1 style="font-style:italic;padding-top:10%;padding-right:10%;padding-left:10%;text-align:center;">At this section you can find some recipes i have created.</h1>

{% endblock %}}

{% block content %}
<div class="container">
  <div class="row">
    {% for recipe in recipes %}
    <div class = "col-sm-6 col-md-3">
        <div class = "thumbnail">

           <img class="img-circle img-responsive" src = "{{recipe.recipe_photo.url}}" alt = "{{recipe.recipe_name}} thumbnail"/>
        </div>

        <div class = "caption">
          <a href="{% url 'recipe_info_page' recipe.id %}"><h3>{{recipe.recipe_name}}</h3></a>


           <hr/>



        </div>
     </div>
     {% endfor %}
  </div>
</div>



{% endblock %}
